<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"><%
	  var title = page.title;
	
	  if (is_archive()){
	    title = 'Archives';
	
	    if (is_month()){
	      title += ': ' + page.month + '-' + page.year;
	    } else if (is_year()){
	      title += ': ' + page.year;
	    }
	  } else if (is_category()){
	    title = 'Category: ' + page.category;
	  } else if (is_tag()){
	    title = 'Tag: ' + page.tag;}
	%>
	<title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
	<%- meta_maker() %>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<% if (config.color){ %><link rel="mask-icon" href="/safari-pinned-tab.svg" color="<%= config.color %>"><% } %>
	<meta name="apple-mobile-web-app-title" content="<%= config.title %>">
	<meta name="application-name" content="<%= config.title %>">
	<% if (config.color){ %><meta name="msapplication-TileColor" content="<%= config.color %>"><% } %>
	<% if (config.color){ %><meta name="theme-color" content="<%= config.color %>"><% } %>
	<% if (config.rss){ %><link rel="alternate" href="<%- url_for(config.rss) %>" title="<%= config.title %>" type="application/atom+xml"><% } %>
	<% if (theme.fancybox){ %><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" /><% } %>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<%- css('css/style.css?'+date_xml(Date.now())) %>
	<%- partial('google-analytics') %>
</head>